.App {
	text-align: center;
}
h2 {
	line-height: 0rem;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

.flexb {
	display: flex;
}
.button {
	cursor: pointer;
	border: none;
	height: 2.5rem;
	width: 8rem;
	color: white;
}
.col {
	flex-direction: column;
}
.apart {
	justify-content: space-between;
	align-items: space-between;
}
.center {
	height: 100%;
	align-items: center;
	justify-content: center;
}
.search {
	min-height: 20rem;
	background-color: aquamarine;
	background: url(../ImagesIcons/kerryparkview.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.searchBar {
	width: 25rem;
	border: 1px solid white;
	height: 2.5rem;
	padding: 1rem;
	background: white;
	position: relative;
}
.one {
	flex-grow: 4;
	display: flex;
	align-items: center;
	justify-content: center;
}
.two {
	flex-grow: 1;
}
.suggestion {
	cursor: pointer;
	background-color: white;
	border: 1px solid black;
}
.suggestion:hover {
	background-color: #0046ad;
}
.searchType {
	border: 1px solid white;
	background: rgba(0, 0, 0, 0.6);
	margin: 0.5rem 0rem;
}
.spacer {
	padding: 0rem 0.5rem;
}
.search h1 {
	color: white;
	line-height: 0.25;
}
.search p {
	font-style: italic;
	color: white;
}
.enter {
	position: absolute;
	background: #0046ad;
	border: none;
	margin: 0.3rem -8.25rem;
	height: 2rem;
}
.parkWeek {
	height: 20rem;
	background-color: bisque;
}
.bannerPic {
	height: 13rem;
	width: 100vw;
	position: relative;
	background-color: rgb(110, 52, 52);
	background: url(../ImagesIcons/kerryparkview.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parkName {
	position: absolute;
	background: black;
	color: white;
	font-weight: 500;
	margin: -1.4rem 0 0 4rem;
	padding: 0rem 0.2rem;
	width: fit-content;
}
.split {
	flex-direction: row;
	flex-wrap: wrap;
}
.splitchild {
	background: #dcdfe1;
	min-width: 320px;
}

.pictures {
	text-align: center;
	width: 100%;
	height: 20rem;
	background-color: cornsilk;
}
.specDeets {
	text-align: center;
	width: 100%;
	height: 20rem;
	background-color: coral;
}
.social {
	width: 100vw;
	height: 5rem;
	background-color: darkolivegreen;
}
.searchDeets {
	text-align: center;
	width: 100vw;
	height: 7vh;
	background-color: antiquewhite;
}
.results {
	background: black;
	color: white;
}
.filter {
	height: 1.75rem;
	width: 4rem;
	margin-left: 1rem;
	background: none;
	border: solid white;
	border-width: 0.05rem;
}

.mapContainer {
	margin: 1rem;
	min-height: 20rem;
	width: 90%;
	height: 90%;
}
.Nav {
	padding: 0.5rem, 0;
	text-align: center;
}
.navContainer {
	height: 6vh;
	width: 100vw;
}
.logo {
	width: 2rem;
	height: 2rem;
	background: url(../ImagesIcons/ChiefSeattle_grey.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.parkSlide {
	cursor: pointer;
	border: none;
	width: 90%;
	height: fit-content;
	background: #ffffff;
	margin: 0.25rem;
	padding: 0.5rem;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
.listResult {
	height: 85vh;
	overflow: scroll;
	overflow-x: hidden;
}
.features {
	width: 100%;
	text-align: left;
	word-wrap: break-word;
}
.selected {
	color: white;
	background: #003da5;
}
#portal .container {
	line-height: 0;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background: rgba(0, 0, 0, 0.7);
}

.container .modal {
	z-index: 1;
	width: fit-content;
	height: 7rem;
	background: white;
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 5px;
	position: relative;
	animation: animate 0.3s;
	color: black;
	flex-direction: column;
	justify-content: flex-end;
}
.modal button {
	margin: 1rem;
	position: absolute;
	top: 7px;
	right: 7px;
	padding: 8px 11px;
	background: crimson;
	color: white;
	font-weight: bold;
	border: none;
	outline: none;
	border-radius: 2px;
	cursor: pointer;
}
@keyframes animate {
	from {
		transform: scale(0.5);
	}
	to {
		transform: scale(1);
	}
}
.GenInfo {
	height: 2rem;
	width: 100vw;
	background-color: aquamarine;
}
